<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans           
	          http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/tx           
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.microsoft.jdbc.sqlserver.SQLServerDriver
			</value>
		</property>
		<property name="url">
			<value>
              jdbc:sqlserver://localhsot:1433;DatabaseName=emq 
			</value>
		</property>
		<property name="username">
			<value>liuyt</value>
		</property>
		<property name="password">
			<value>liuyt</value>
		</property>
	</bean>


	<!--
		<bean id="dataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean"> <property
		name="jndiName"> <value>jdbc/cigstore</value> </property> <property
		name="resourceRef"> <value>false</value> </property> </bean>
	-->

	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 采用@transactional注解方式使用事务 -->
	<tx:annotation-driven transaction-manager="txManager" />

	<!-- 基础服务 -->
	<bean id="baseService" class="com.emq.service.BaseService"
		lazy-init="false">
		<property name="baseDao">
			<ref local="baseDao" />
		</property>
		<property name="gisMapFactory">
			<ref local="gisMapFactory" />
		</property>
	</bean>

	<bean id="baseDao" class="com.emq.dao.BaseDao" lazy-init="false">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>

	<!-- 地图-组织机构映射表数据访问对象  -->
	<bean id="gisConRegionDao" class="com.emq.dao.jdbc.GisConRegionDaoImpl"
		lazy-init="false">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>
	
	<!-- 数据访问控制器 -->
	<bean id="dataAccessController" class="com.emq.service.impl.DataAccessControllerImpl"
		lazy-init="false">
		<!-- <property name="gisSsOrgDao">
			<ref local="gisSsOrgDao" />
		</property> -->
	</bean>
	
	<!-- 地图创建工厂 -->
	<bean id="gisMapFactory" class="com.emq.model.GISMapFactory"
		lazy-init="false">
		<property name="dataAccessController">
			<ref local="dataAccessController" />
		</property>
	</bean>


	<!-- 抽象的地图查询dwr接口 -->
	<bean id="gisMapDataFinderService" lazy-init="true"
		class="com.emq.ui.dwr.AbstractGISMapDataFinder" abstract="true">
	</bean>

</beans>
